.footer {
	margin-top: auto;
	background-color: var(--global-blue-dark);

	.wrapper {
		padding: 0 15px;

		.footerBody {
			padding: 15px 0;

			p {
				color: var(--global-light);

				a {
					color: var(--global-yellow-dark);
				}
			}
		}
	}
}
