.orderPage {
	border-radius: 20px;
	margin: 30px auto;
	max-width: 700px;
	width: 100%;

	.orderBody {
    display: flex;
    flex-direction: column;

		background-color: var(--global-blue-dark);
		border-radius: 20px;
		margin: 15px;
		padding: 15px;
	}

	.orderForm {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.orderData,
	.orderDelivery {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;

		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		padding: 20px;
		border-radius: 4px;

		input {
			width: 100%;
			padding: 7px 15px;
			outline: none;
			border-radius: 5px;
		}

		label {
			display: block;
			outline: none;
		}

		select {
			width: 100%;
			padding: 8px;
			border: 1px solid #ccc;
			border-radius: 5px;
			outline: none;
		}

		select:disabled {
			background-color: #f7f7f7;
		}
	}

	button {
		width: 80%;
    display: flex;
    justify-content: center;
		padding: 10px;
		background-color: var(--global-blue-light);
    transition: all .5s ease-in-out;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		outline: none;
		margin: 0 auto;
    text-align: center;

		&:hover {
			background-color: #0056b3;
		}
	}
}

.title {
	text-align: center;
	color: var(--global-light);
	margin: 15px;
}

.subtitle {
	text-align: center;
	color: #fff;
	margin: 0;
	height: 33px;
}
